body {
    font-family: 'Cinzel', serif;
    color: #7b2d2c;
    font-weight: bold;
}

a {
    color: #7b2d2c;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: #5d4f42;
}

/* -----=====buttons=====----- */

.btn_stl {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    color: #c2a487;
    background: linear-gradient(145deg, #5c2a2a, #7b2d2c);
    border: 2px solid #c2a487;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    align-self: flex-start;
    white-space: nowrap;
}

.btn_stl:hover {
    text-decoration: none;
    color: #c2a487;
    background: #5c2a2a;
}

.btn_stl.active {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}
/* -----=====----=====----- */

.container {
    display: flex;
    justify-content: center;
}

.notice_board {
    background-image: url('notice_board.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.border_notice_board {
    background-image: url('border_notice_board.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.notice {
    background-image: url('scroll.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 500px;
    padding: 70px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 80%;
    max-width: 400px;
}

.form-control {
    color: #5d4f42;
    font-style: italic;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #7b2d2c;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.form-control::placeholder {
    color: #5d4f42;
}
.form-control:focus{
    outline: none;
    border: 2px solid #7b2d2c;
    color: #5d4f42;
    box-shadow: 0 0 5px #5c2a2a;
    background-color: transparent;
}

.form-control option {
    background-color: transparent;
    color: #5d4f42;
    font-style: italic;
    font-weight: bold;
}

textarea {
    width: 500px;
    color: #7b2d2c;
    font-style: italic;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #7b2d2c;
    padding: 8px;
    resize: vertical;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea::placeholder {
    color: #5d4f42;
}

textarea:focus {
    outline: none;
    border: 2px solid #7b2d2c;
    color: #7b2d2c;
    box-shadow: 0 0 5px #5c2a2a;
}

.text-center a {
    color: #7b2d2c;
    text-decoration: underline;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    cursor: pointer;
}

.text-center a:hover {
    color: #5c2a2a;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
}

#file-name {
    font-size: 14px;
    color: #666;
}


/* -----=====tabs=====----- */
.tabs-container {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.tab {
    margin-top: 10px;
    width: 180px;
    height: 120px;
    padding: 25px 0;
    display: flex;
    min-width: 120px;
    min-height: 100px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #7b2d2c;

    background-image: url("tab_icon.png");
    background-size: cover;
    background-position: center;
}

.tab img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.tab.active {
    transform: translateY(-10px);
    color: #7b2d2c;
}

/* -----=====----=====----- */

/* -----=====Listing=====----- */
.body_page {
    padding: 20px;
    box-sizing: border-box;
}

.listings-container {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.listing-item {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 40px 20px;
    background-image: url("listing_icon.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.listing-detailed-item {
    min-height: 400px;
    min-width: 900px;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 80px 40px;
    background-image: url("scroll.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.listing-content {
    display: flex;
    width: 83%;
    height: 85%;
    margin: auto;
}

.listing-detailed-content {
    display: flex;
    width: 80%;
    height: 85%;
    margin: auto;
}

.image-container {
    min-width: 150px;
    max-width: 150px;
    margin-right: 20px;
    height: auto;
    display: inline-block;
    align-self: start;

    border: 10px solid transparent;
    border-image: url("border-img.png") 20 repeat;
}

.image-container img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    display: block;
}

.listing-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.description-text {
  background-color: #7b2d2c;
  background-image: linear-gradient(to right, #7b2d2c, #c2a487);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listing-comments {
    width: 100%;
    padding: 20px;
}

/* -----=====----=====----- */