{% load static %}

<div class="listing-item">
    <div class="listing-content d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center">
            {% if not listing.is_active %}
                {% if user == listing.user_win %}
                    <span class="h3 font-weight-bold text-success text-center">
                        <img src="{% static 'laurel_wreath.png' %}" alt="Laurel wreath" class="mr-1 small-icon">
                            You won this listing!
                        <img src="{% static 'laurel_wreath.png' %}" alt="Laurel wreath" class="ml-1 small-icon">
                    </span>
                {% else %}
                    <span class="h3 font-weight-bold text-danger text-center">This listing is closed</span>
                {% endif %}
            {% endif %}
        </div>

        <div class="d-flex w-100 justify-content-center">
            <div class="image-container">
                {% if listing.img %}
                    <img src="{{ listing.img.url }}" alt="{{ listing.name }}">
                {% else %}
                    <img src="{% static 'no_image.png' %}" alt="No picture">
                {% endif %}
            </div>

            <div class="listing-info">
                <!-- Watchlist -->
                <div class="d-flex justify-content-end" style="font-size: 0.8em;">
                    {% if user.is_authenticated and listing.is_active%}
                        {% if listing.id in watchlisted_ids %}
                            Remove from your watchlist
                            <a href="{% url 'remove_from_watchlist' listing.id %}?next={{ request.path }}" class="text-decoration-none ml-1">
                                <img src="{% static 'watchlist_filled_icon.png' %}" alt="remove">
                            </a>
                        {% else %}
                            Add to your watchlist
                            <a href="{% url 'add_to_watchlist' listing.id %}?next={{ request.path }}" class="text-decoration-none ml-1">
                                <img src="{% static 'watchlist_empty_icon.png' %}" alt="add">
                            </a>
                        {% endif %}
                    {% endif %}
                </div>

                <div>
                    <span class="h3 font-weight-bold align-middle">
                         <a href="{% url 'listing_page' listing.id %}">{{ listing.name }}</a>
                    </span>

                    {% if listing.category %}
                        <a href="{% url 'filtered_category' listing.category.id %}" class="btn_stl" style="transform: scale(0.7);">
                            {{ listing.category.name }}
                        </a>
                    {% endif %}
                </div>

                <p style="font-size: 0.8em;">
                    {% if listing.id in expanded_listing_ids %}
                        {{ listing.description }}
                    {% else %}
                        <span class = "description-text">
                            {{ listing.description|slice:":50"}}...
                        </span>
                    {% endif %}
                    <span>
                        <a href="{% url 'expand_description' listing.id %}?next={{ request.path }}" class="align-middle" style="font-size: 0.8em;">
                            {% if listing.id in expanded_listing_ids %}show less{% else %}read more{% endif %}
                        </a>
                    </span>
                </p>

                <p>Price: {{ listing.price}} <img src="{% static 'septim.png' %}" alt="Septim"></p>

                <span><u>Details</u></span>
                        <ul style="font-size: 0.8em;">
                          <li>Created: {{ listing.date_create }}</li>
                          <li>Created by: {{ listing.user_create }}</li>
                        </ul>
            </div>
        </div>
    </div>
</div>