{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="notice">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            <h2 class="text-center">Sign up, Stranger</h2>
            <form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn_stl btn-block" type="submit">Enter here</button>
            </form>

            <div class="text-center mt-3">
                Your name is known to us? Return to your path <a href="{% url 'login' %}">here</a>
            </div>
        </div>
    </div>
{% endblock %}