{% extends "auctions/layout.html" %}
{% load static %}
{% block title %}Watchlist{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
        {% if listings %}
            <div class="listings-container">
                {% for listing in listings %}
                    {% include "auctions/items.html" with listing=listing %}
                {% endfor %}
            </div>
        {% else %}
            <div class="listings-container">
                <div class="listing-item">
                    <div class="listing-content">
                        <p class="align-middle text-center">Your watchlist is empty. Please add some <a href="{% url 'index' %}">listing</a> in your watchlist.</p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="listings-container">
            <div class="listing-item">
                <div class="listing-content">
                    <p>Please <a href="{% url 'login' %}">log in</a> to watch your watchlist.</p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}